// Header
header {
  color: #ffffff;
  background-color: #2FB5AA;
}

nav {
  padding: 0.3rem;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: #ffffff;
  }

  .dropdown-item {
    a {
      color: #333333;
      text-decoration: none;
    }

    a:hover {
      color: #333333;
    }
  }
}

.sidebar {
  position: fixed;
  top: 52px;
  left: 0;
  width: 15%;
  height: 100%;
  z-index: 100;
  padding-bottom: 52px;
  overflow: scroll;
  border-right: 1px solid #CCCCCC;

  ul li.nav-item {
    margin-top: 10px;
  }

  /** SideBar Accordion */
  li .submenu  {
    list-style: none;
    margin: 0;
    padding: 0 1rem 0 1rem;
  }

  .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
  }

  .nav-link:hover {
    color: var(--bs-primary);
  }
}
